
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

NOTAS:
admin@email.com  | ["ROLE_ADMIN"] | 12345678  |
jazmin@email.com | ["ROLE_USER"]  | 1234 |